<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @user.id %>
</p>

<p>
  <b>Login:</b>
  <%= @user.login %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Crypted password:</b>
  <%= @user.crypted_password %>
</p>

<p>
  <b>Salt:</b>
  <%= @user.salt %>
</p>

<p>
  <b>Created at:</b>
  <%= @user.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= @user.updated_at %>
</p>

<p>
  <b>Remember token:</b>
  <%= @user.remember_token %>
</p>

<p>
  <b>Remember token expires at:</b>
  <%= @user.remember_token_expires_at %>
</p>

<p>
  <b>Admin:</b>
  <%= @user.admin %>
</p>

<p>
  <b>Postal code:</b>
  <%= @user.postal_code %>
</p>

<p>
  <b>State:</b>
  <%= @user.state %>
</p>

<p>
  <b>Deleted at:</b>
  <%= @user.deleted_at %>
</p>

<p>
  <b>Activation code:</b>
  <%= @user.activation_code %>
</p>

<p>
  <b>Activated at:</b>
  <%= @user.activated_at %>
</p>

<p>
  <b>Node:</b>
  <%= @user.node_id %>
</p>

<p>
  <b>Parental password:</b>
  <%= @user.parental_password %>
</p>

<p>
  <b>Rewinds updated at:</b>
  <%= @user.rewinds_updated_at %>
</p>

<p>
  <b>Publisher:</b>
  <%= @user.publisher_id %>
</p>

<p>
  <b>Domain:</b>
  <%= @user.domain_id %>
</p>

<p>
  <b>Recording updated at:</b>
  <%= @user.recording_updated_at %>
</p>

<p>
  <b>Recording rule updated at:</b>
  <%= @user.recording_rule_updated_at %>
</p>

<p>
  <b>Locale:</b>
  <%= @user.locale %>
</p>

<p>
  <b>Eula accepted at:</b>
  <%= @user.eula_accepted_at %>
</p>

<p>
  <b>Parental control pin:</b>
  <%= @user.parental_control_pin %>
</p>

<p>
  <b>Favorite vod updated at:</b>
  <%= @user.favorite_vod_updated_at %>
</p>

<p>
  <b>Resume updated at:</b>
  <%= @user.resume_updated_at %>
</p>

<p>
  <b>Guid:</b>
  <%= @user.guid %>
</p>

<p>
  <b>Csg subscriber:</b>
  <%= @user.csg_subscriber_id %>
</p>

<p>
  <b>Suspended at:</b>
  <%= @user.suspended_at %>
</p>

<p>
  <b>Parental configuration updated at:</b>
  <%= @user.parental_configuration_updated_at %>
</p>

<p>
  <b>Tvod entitlements updated at:</b>
  <%= @user.tvod_entitlements_updated_at %>
</p>

<p>
  <b>Samsung account:</b>
  <%= @user.samsung_account_id %>
</p>

<p>
  <b>Watchlist updated at:</b>
  <%= @user.watchlist_updated_at %>
</p>

<p>
  <b>Est resumes updated at:</b>
  <%= @user.est_resumes_updated_at %>
</p>

<p>
  <b>Rental resumes updated at:</b>
  <%= @user.rental_resumes_updated_at %>
</p>

<p>
  <b>Linear resumes updated at:</b>
  <%= @user.linear_resumes_updated_at %>
</p>

<p>
  <b>Recording resumes updated at:</b>
  <%= @user.recording_resumes_updated_at %>
</p>

<p>
  <b>Fod resumes updated at:</b>
  <%= @user.fod_resumes_updated_at %>
</p>

<p>
  <b>Linear entitlements updated at:</b>
  <%= @user.linear_entitlements_updated_at %>
</p>

<p>
  <b>Methods of payment updated at:</b>
  <%= @user.methods_of_payment_updated_at %>
</p>

<p>
  <b>Migrated at:</b>
  <%= @user.migrated_at %>
</p>

<p>
  <b>Devices updated at:</b>
  <%= @user.devices_updated_at %>
</p>

<p>
  <b>Preview started at:</b>
  <%= @user.preview_started_at %>
</p>

<p>
  <b>Brand:</b>
  <%= @user.brand_id %>
</p>

<p>
  <b>Phone number:</b>
  <%= @user.phone_number %>
</p>

<p>
  <b>Lsdvrs updated at:</b>
  <%= @user.lsdvrs_updated_at %>
</p>

<p>
  <b>Allow cancel:</b>
  <%= @user.allow_cancel %>
</p>

<p>
  <b>Beta status:</b>
  <%= @user.beta_status %>
</p>

<p>
  <b>Sku:</b>
  <%= @user.sku %>
</p>

<p>
  <b>Amazon user:</b>
  <%= @user.amazon_user_id %>
</p>

<p>
  <b>Account status:</b>
  <%= @user.account_status %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
